Package: palera1n
Version: 1.4.1
Architecture: all
Maintainer: AikoCute
Pre-depends: 
Depends: 
Recommends: Palera1n
Section: net
Priority: extran
Homepage: https://github.com/Github-Aiko/palera1n-deb
Suggests:
Provides: AikoCute, palera1n
Description: Palera1n : iOS 15.0-16.2 (semi-)tethered checkm8 jailbreak ( Aiko BUILD )
