Package: Palera1n
Version: 1.4.1
Section: base
Priority: optional
Architecture: all
Depends: libc6
Maintainer: Aiko <aiko@aikocute.com>
Description: Palera1n : iOS 15.0-16.2 (semi-)tethered checkm8 jailbreak ( Aiko BUILD )
